#enter_ani{
width: 100vw;
height: 100vh;
position: fixed;
background-color: rgb(36, 36, 36);
background-image: radial-gradient(#000000 20%,#4b4b4b8a);
left: 0;
top: 0;
z-index: 5;
font-size: 12vw;
text-align: center;
}
.Up{
    animation: enterKeysUp 300ms forwards ease;
}
.Down{
    animation: enterKeysDown 400ms forwards ease;
}

@keyframes enterKeysDown {
    30%{transform: translateY(0vh); opacity: 1; border-radius: 0%;}
    100%{transform: translateY(100%); opacity: 0;border-radius: 100%;}
}
@keyframes enterKeysUp {
    0%{transform: translateY(-100%); opacity: 0.7; border-radius: 500%;}
    95%{transform: translateY(0); opacity: 1; border-radius: 0%;}
}